html, body{ height: 100%; }

.container-main {
    margin-top: 75px;
}

.container-canvas {
    margin: 0 auto;
    width: 800px;
}

.container-control {
    margin: 0 auto;
    width: 100%;
}

canvas {
    border: 1px solid #333;
}

/**Disable double tap zoom*/
.disable-dbl-tap-zoom {
  touch-action: manipulation;
}

.grid-container {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 10px;
  }
  
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

  .set {
    overflow: hidden;
    /*padding: 30px; */
    text-align: center;
  }

  .set .o-pad {
    display: inline-block;
  }

  .o-pad {
    position: relative;
    background: #dddddd;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
  }
  .o-pad:after {
    content: "";
    position: absolute;
    z-index: 2;
    width: 20%;
    height: 20%;
    top: 50%;
    left: 50%;
    background: #ddd;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    display: none;
    transition: all 0.25s;
    cursor: pointer;
  }
  .o-pad:hover:after {
    width: 30%;
    height: 30%;
  }
  .o-pad a {
    display: block;
    position: absolute;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    width: 50%;
    height: 50%;
    text-align: center;
    transform: rotate(45deg);
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
  
  .o-pad a:before {
    content: "";
    position: absolute;
    width: 60%;
    height: 60%;
    top: 50%;
    left: 50%;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.25s;
    cursor: pointer;
    display: none;
  }
  .o-pad a:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-radius: 5px;
    border-style: solid;
    transform: translate(-50%, -50%) rotate(-45deg);
    transition: all 0.25s;
  }
  .o-pad a.up {
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, -20%) rotate(45deg);
    border-top-left-radius: 50%;
    z-index: 1;
  }
  .o-pad a.up:hover {
    background: linear-gradient(315deg, rgba(255, 255, 255, 0) 15%, rgba(255, 255, 255, 0.4) 100%);
  }

  .o-pad a.up:hover:after{
    left: 30%;
    top: 65%;
  }

  .o-pad a.up:before {
    left: 57%;
    top: 57%;
  }
  
  .o-pad a.up:after {
    content: "START";
    left: 30%;
    top: 65%;
    border-width: 0 0 0 0;
    color: #ddd;
  }
  .o-pad a.up:active:after {
    border-bottom-color: #333;
  }
  .o-pad a.down {
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%) rotate(45deg);
    border-bottom-right-radius: 50%;
    z-index: 1;
  }
  .o-pad a.down:hover {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0) 15%, rgba(255, 255, 255, 0.4) 100%);
  }

  .o-pad a.down:hover:after {
    left: 15%;
    top: 50%;
  }
  
  .o-pad a.down:before {
    left: 15%;
    top: 50%;
  }
  .o-pad a.down:after {
    content: "PAUSE";
    left: 15%;
    top: 50%;
    border-width: 0 0 0 0;
    color: #ddd;
  }
  .o-pad a.down:active:after {
    border-top-color: #333;
  }
  .o-pad a.left {
    top: 50%;
    right: 50%;
    transform: translate(-20%, -50%) rotate(45deg);
    border-bottom-left-radius: 50%;
    border: none;
  }
  .o-pad a.left:hover {
    background: linear-gradient(225deg, rgba(255, 255, 255, 0) 15%, rgba(255, 255, 255, 0.4) 100%);
  }
  .o-pad a.left:before {
    left: 57%;
    top: 43%;
  }
  .o-pad a.left:after {
    left: 53%;
    top: 47%;
    border-width: 13px 19px 13px 0;
    border-color: transparent #aaaaaa transparent transparent;
  }
  .o-pad a.left:active:after {
    border-right-color: #333;
  }
  .o-pad a.right {
    top: 50%;
    left: 50%;
    transform: translate(20%, -50%) rotate(45deg);
    border-top-right-radius: 50%;
    border: none;
  }
  .o-pad a.right:hover {
    background: linear-gradient(45deg, rgba(255, 255, 255, 0) 15%, rgba(255, 255, 255, 0.4) 100%);
  }
  .o-pad a.right:before {
    left: 43%;
    top: 57%;
  }
  .o-pad a.right:after {
    left: 47%;
    top: 53%;
    border-width: 13px 0 13px 19px;
    border-color: transparent transparent transparent #aaaaaa;
  }
  .o-pad a.right:active:after {
    border-left-color: #333;
  }
  .o-pad a:hover:after {
    left: 50%;
    top: 50%;
  }
  .blue .d-pad:before,
  .blue .d-pad a {
    background: #1843ca;
  }
  .blue .d-pad:after {
    display: block;
    background: #cccccc;
  }
  .blue .d-pad a:after {
    border-radius: 10%;
  }
  .blue .d-pad a.up:hover {
    background: linear-gradient(0deg, #1843ca 0%, #143cb9 50%);
  }
  .blue .d-pad a.right:hover {
    background: linear-gradient(90deg, #1843ca 0%, #143cb9 50%);
  }
  .blue .d-pad a.down:hover {
    background: linear-gradient(180deg, #1843ca 0%, #143cb9 50%);
  }
  .blue .d-pad a.left:hover {
    background: linear-gradient(-90deg, #1843ca 0%, #143cb9 50%);
  }
  .blue .d-pad a.up:before {
    border-bottom-color: #cccccc;
  }
  .blue .d-pad a.right:before {
    border-left-color: #cccccc;
  }
  .blue .d-pad a.down:before {
    border-top-color: #cccccc;
  }
  .blue .d-pad a.left:before {
    border-right-color: #cccccc;
  }
  .blue .d-pad a.up:active:before {
    border-bottom-color: #ffffff;
  }
  .blue .d-pad a.right:active:before {
    border-left-color: #ffffff;
  }
  .blue .d-pad a.down:active:before {
    border-top-color: #ffffff;
  }
  .blue .d-pad a.left:active:before {
    border-right-color: #ffffff;
  }
  .blue .o-pad {
    background: #1843ca;
  }
  .blue .o-pad a {
    border-color: rgba(255, 255, 255, 0.6);
  }
  .blue .o-pad:before,
  .blue .o-pad a {
    background: #1843ca;
  }
  .blue .o-pad:after {
    display: block;
    background: #ccc;    
    pointer-events:auto;
  }
  .blue .o-pad a.up:after {
    border-bottom-color: #cccccc;
  }
  .blue .o-pad a.right:after {
    border-left-color: #cccccc;
  }
  .blue .o-pad a.down:after {
    border-top-color: #cccccc;
  }
  .blue .o-pad a.left:after {
    border-right-color: #cccccc;
  }
  .blue .o-pad a.up:active:after {
    border-bottom-color: #ffffff;
  }
  .blue .o-pad a.right:active:after {
    border-left-color: #ffffff;
  }
  .blue .o-pad a.down:active:after {
    border-top-color: #ffffff;
  }
  .blue .o-pad a.left:active:after {
    border-right-color: #ffffff;
  }
  